body {
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    width: 100%;
    top: -20px;
    left: 0px;
    position: absolute;
}
#footer {
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
}
canvas {
    border: 5px solid grey;
    box-shadow: 5px 5px 15px lightpink;
}